<div>
  Film filter: <input ng-model="query">
</div>
<div>
  Film order:
  <select ng-model="orderProp">
    <option value="title">Alphabetical</option>
    <option value="-year">Newest</option>
    <option value="-rating">Popular</option>
  </select>
</div>
<table>
  <tr><th>title</th><th>year</th><th>rating</th><th>actions</th></tr>
  <tr ng-repeat="film in films | filter:query | orderBy:orderProp">
    <td><a href="#/films/{{ film.id }}">{{ film.title }}</a></td>
    <td>{{ film.year }}</td> 
    <td>{{ film.rating | starRating }}</td>
    <td><a href="" ng-click="incRating(film)">increace rating</a></td>
  </tr>
</table>
